<div class="row justify-content-md-center">
  <p class="cty">Polish hurry and technophile... Three, two, one ... Firel Our app is
    available on your smartphone! You can also make an appointment on our mobile<br/>site.</p>
</div>
<div class="row justify-content-md-center">
  <button class="as-btn"><img src="https://imgbbb.com/images/2019/02/06/ic_available_app_store_pressed1x.png" class="as-img"></button>
  <button class="as-btn"><img src="https://imgbbb.com/images/2019/02/06/ic_available_google_play_normal1x.png" class="as-img"></button>
</div>
<div class="row justify-content-md-center"><button class="btnbtnbtn">EXPLORE IT</button></div>