.mx-auto{
    max-width:140px; max-height:140px;
}
.card{
    background: none;
    border: none;
}
.card-body{
    text-align: center;
}
.s2h11{
    color: #D12731;
    font-weight: 100;
    text-decoration: underline;
    margin-top: 2%;
    font-size: 30px;
    margin-bottom: 5%;
}
.btnbtnbtn{
    color: white;
    background-color: #D12731;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 45px;
    margin-bottom: 40px;
    transition : 1s;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10%;
}

.btnbtnbtn:hover{
    border: 1px solid #D12731;
    color: #D12731;
    background: none;
}