<div class="row justify-content-md-center">
  <h2 class="s2h11">HOW IT WORKS ?</h2>
</div>
<div class="row justify-content-md-center">
<div class="col">
    <div class="card">
        <img class="card-img-top mx-auto" src="https://imgbbb.com/images/2019/02/06/ic_booking1x.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Booking</h5>
          <p class="card-text">Choose your service and fil<br/>your availabilities and your location.</p>
        </div>
      </div>
</div>
<div class="col">
    <div class="card">
    <img class="card-img-top mx-auto" src="https://imgbbb.com/images/2019/02/06/ic_meeting1x.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Payment</h5>
      <p class="card-text">Set your payement link confirm your<br/>appointment<br/>Paymenet is
        100% online via<br/>a secure platform.</p>
    </div>
  </div>
</div>
<div class="col">
    <div class="card">
        <img class="card-img-top mx-auto" src="https://imgbbb.com/images/2019/02/06/ic_payment1x.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Meeting</h5>
          <p class="card-text">The appointment, a moment for you,<br/>with a passionate expert and<br/>listening
            to your desires.</p>
        </div>
      </div>
</div>
</div>
<div class="row justify-content-md-center"><button class="btnbtnbtn">I RESERVE</button></div>