<div class="row justify-content-md-center"><h3 class="ft">SUBSCRIBE TO OUR NEWSLETTER</h3></div>
<div class="row justify-content-md-center"><p class="pt">Stay informed about us, news and events</p></div>
<div class="row justify-content-md-center">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter your e-mail adress" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Send</button>
        </div>
      </div>
</div>
<div class="row justify-content-md-center"><app-navbar2></app-navbar2></div>
<div class="row justify-content-md-center sm">
  <img src="https://imgbbb.com/images/2019/02/06/ic_facebook1x.png" class="sm-img">
  <img src="https://imgbbb.com/images/2019/02/06/ic_twitter1x.png"  class="sm-img">
  <img src="https://imgbbb.com/images/2019/02/06/ic_youtube1x.png" class="sm-img">
</div>