<div class="row justify-content-md-center"><img src="https://imgbbb.com/images/2019/02/05/logo_slider_home2x.png" class="img-logo"></div>
<div class="row justify-content-md-center">
  <app-navbar></app-navbar>
</div>
<div class="row justify-content-md-center txt-cnt">
  <h2>PAMPER YOURSELF PRETTY</h2>  
</div>
<div class="row justify-content-md-center txt-cnt">
    <p>Treat yourself to one our services. Our beloved beauty<br/> experts will your brows, get you
      glowin' and so much more. You'll <br/>leave looking and feeling more gorgeous than ever
      before.</p>
</div>
<div class="row justify-content-md-center"><button class="btn-rsrv">I RESERVE</button></div>
<div class="row justify-content-md-center"><img src="https://imgbbb.com/images/2019/02/06/ic_scroll1x.png"></div>