.img-logo{
    width: 200px;
    height: 100px;
}
.txt-cnt h2{
    margin-top: 20%;
    color: white;
    font-size: 28px;
    text-align:center;
    font-weight: 100;
}
.txt-cnt p{
    font-family: 'Questa';
    text-align: center;
    color: rgb(230, 227, 227);
    font-size: 15px;
    letter-spacing: 2px
}
.btn-rsrv{
    background: none;
    border: 1.5px solid white;
    border-radius: 5px;
    width: 230px;
    height: 40px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 1s;    
    font-size: 15px;
    margin-top: 3%;
    margin-bottom: 5%;
}
.btn-rsrv:hover{
    border: 1.5px solid #777D7F;
    color: #777D7F;
    background: white;
}